<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Card Example</title>
    </head>
    <body>
        <div>都道府県別の市区町村リスト</div>
            <form action="/citiesresult" method="POST">
                <input type="text" id="prefecture" name="prefecture" placeholder="都|道|府|県" >
                <button type="submit">検索</button>
            </form>
            <a href="/">ホームに戻る</a>
        </div>
    </body>
</html>