<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Card Example</title>
    </head>
    <body>
        <div>郵便番号から住所検索</div>
            <form action="/addressresult" method="POST">
                <input type="text" id="postalcode1" name="postalcode1" placeholder="123" >
                ー
                <input type="text" id="postalcode2" name="postalcode2" placeholder="4567">
                <button type="submit">検索</button>
            </form>
            <a href="/">ホームに戻る</a>
        </div>
    </body>
</html>